In [1]:
import numpy as np
import pandas as pd

In [2]:
flats = pd.read_csv('flats_cleanes.csv')
houses = pd.read_csv('house_cleaned.csv')

In [3]:
df = pd.concat([flats,houses],ignore_index=True)

In [4]:
df = df.sample(df.shape[0],ignore_index=True)

In [5]:
df.head()

,property_name,Property_type,property_type,society,price,area,price_per_sqft,areaWithType,bedRoom,bathroom,...,agePossession,nearbyLocations,description,furnishDetails,features,rating,value,currency,floor_Num,total_floors
0,3 BHK Flat in Sector 109 Gurgaon,flat,3 BHK,ats kocoon,2.20,2195.0,10023.0,Super Built up area 2095(194.63 sq.m.)Built Up...,3,4,...,1 to 5 Year Old,"['Jagdish Super Market', 'Dwarka', 'Euro Inter...",Ats kocoon is one of gurgaon's most sought aft...,"['7 Fan', '1 Exhaust Fan', '8 Light', 'No AC',...","['Water purifier', 'Security / Fire Alarm', 'F...","['Green Area5 out of 5', 'Construction5 out of...",2.20,Crore,8.0,24.0
1,4 BHK Flat in Sector 102 Gurgaon,flat,4 BHK,conscient heritage max,2.65,2554.0,10375.0,Super Built up area 2554(237.27 sq.m.),4,5,...,5 to 10 Year Old,"['Huda Metro Station', 'Ocus Medley Mall', 'Th...",Conscient heritage max is one of the most popu...,"['6 AC', '1 Modular Kitchen', '1 Chimney', 'No...","['Security / Fire Alarm', 'Power Back-up', 'Fe...","['Green Area5 out of 5', 'Construction5 out of...",2.65,Crore,17.0,25.0
2,3 BHK Flat in Sector 86 Gurgaon,flat,3 BHK,dlf new town heights,1.28,1560.0,8205.0,Super Built up area 1930(179.3 sq.m.)Carpet ar...,3,4,...,5 to 10 Year Old,"['City Square', 'Vatika Town Square', 'Bharat ...","Call for visit, keys in hand. Sun facing, park...",NaN,"['Security / Fire Alarm', 'Feng Shui / Vaastu ...","['Green Area5 out of 5', 'Construction4.5 out ...",1.28,Crore,12.0,22.0
3,3 BHK Flat in Sector 37C Gurgaon,flat,3 BHK,ild greens,0.90,1603.0,5614.0,Super Built up area 1603(148.92 sq.m.)Built Up...,3,3,...,Under Construction,"['The Esplanade Mall', 'Gurgaon Road', 'Delhi ...","Good location with hospital, school close by.",NaN,"['Lift(s)', 'Feng Shui / Vaastu Compliant', 'I...","['Green Area5 out of 5', 'Construction5 out of...",90.00,Lac,0.0,19.0
4,5 Bedroom House for sale in Greenwood City,NaN,house,independent,8.50,3240.0,26235.0,Plot area 360(301.01 sq.m.),5,4,...,5 to 10 Year Old,"['Huda city centre metro station', 'Axis bank ...",360sqyd 5bhk servant room well maintain villa ...,"['5 Wardrobe', '1 Water Purifier', '4 Fan', '6...","['Feng Shui / Vaastu Compliant', 'Private Gard...","['Environment4.5 out of 5', 'Lifestyle4 out of...",NaN,NaN,NaN,NaN

In [6]:
df.to_csv('gurgaon_properties.csv',index=False)